.burger-menu {
  position: absolute;
  top: 10px;
  right: 10px;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20px;
  cursor: pointer;
}

.line {
  width: 20px;
  height: 2px;
  background-color: #333;
}

.burger-links {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.burger-links a {
  margin: 20px 0;
  font-size: 24px;
  text-decoration: none;
  color: #333;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20px;
  cursor: pointer;
}

.close-line {
  position: relative;
  width: 24px;
  height: 24px;
}

.close-line::before,
.close-line::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  transform-origin: center;
}

.close-line::before {
  transform: rotate(45deg);
}

.close-line::after {
  transform: rotate(-45deg);
}
