.levels-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .levels-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .level-button {
    width: 94vw;
    max-width: 200px;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #333;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: nones;
    text-align: center;
  }
  
  .level-button:hover {
    transform: scale(1.05);
  }

  .level-button:active {
    transform: scale(0.95);
  }
  