.levels-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: url(../images/backImage.jpg);
    background-size: no-repeat;
    background-position: left;
    background-size: cover;
    box-sizing: border-box;
  }
  
  .levels-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .level-button {
    width: 94vw;
    max-width: 200px;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin: 0.5rem;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #333;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: nones;
    text-align: center;
  }
  
  .level-button.active {
    background-color: #00bcd4;
    scale: 1.2;
  }

  @media (max-width: 1000px) {
    .level-button {
      max-width: 400px;
      font-size: 1.4rem;
    }
  }
